html, body {
    margin: 0;
    height: 100%;
    background: #ccc;
}

.container{
	margin: 10% auto;

}

.right{
	background-color: white;
    padding: 25px;
    border: 1px solid #999
}

.right h4{
	text-align: center;
}

.right input, .right h4{
	margin-bottom: 30px;
}

.left p{
	width: 300px;
}

.footer{
	position: fixed;
    left: 45%;
    bottom: 0px;
}
